<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>01.02.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus nesciunt non recusandae reprehenderit sed sit totam vitae. Ad asperiores aspernatur commodi deleniti doloribus eius est fuga illum, laboriosam magnam molestias mollitia odit officiis pariatur provident qui repellat tempore velit veniam vitae! Ab asperiores incidunt, inventore nobis repellat rerum voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus nesciunt non recusandae reprehenderit sed sit totam vitae. Ad asperiores aspernatur commodi deleniti doloribus eius est fuga illum, laboriosam magnam molestias mollitia odit officiis pariatur provident qui repellat tempore velit veniam vitae! Ab asperiores incidunt, inventore nobis repellat rerum voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus nesciunt non recusandae reprehenderit sed sit totam vitae. Ad asperiores aspernatur commodi deleniti doloribus eius est fuga illum, laboriosam magnam molestias mollitia odit officiis pariatur provident qui repellat tempore velit veniam vitae! Ab asperiores incidunt, inventore nobis repellat rerum voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus nesciunt non recusandae reprehenderit sed sit totam vitae. Ad asperiores aspernatur commodi deleniti doloribus eius est fuga illum, laboriosam magnam molestias mollitia odit officiis pariatur provident qui repellat tempore velit veniam vitae! Ab asperiores incidunt, inventore nobis repellat rerum voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum necessitatibus nesciunt non recusandae reprehenderit sed sit totam vitae. Ad asperiores aspernatur commodi deleniti doloribus eius est fuga illum, laboriosam magnam molestias mollitia odit officiis pariatur provident qui repellat tempore velit veniam vitae! Ab asperiores incidunt, inventore nobis repellat rerum voluptates!</p>
  </div>
</div>
